input[id="chkbox"]{
    display: none;
}

input[id="chkbox"]+label em {
    display: inline-block;
    width: 25px;
    height: 25px;   
    margin-right: 5px;
    background: 0 0 no-repeat;
    vertical-align:middle;
}

input[id="chkbox"]:checked + label em{
    background-position: -38px 0;
}