.custom-navbar {
  background-color: #fcee54; /* 배경색을 연한 색으로 설정 */
  padding: 0.5rem 2rem;
}

.brand-text {
  font-size: 3rem;
  font-weight: bold;
  color: #ea661a;
}

.nav-link-custom {
  color: #5a5a5a;
  font-weight: bold;
  margin-right: 1rem;
  list-style: none; /* 리스트 스타일 제거 */
  display: inline; /* 가로 나열 */
}

.nav-link-custom:hover {
  color: #0a3e8c; /* 링크에 마우스를 올렸을 때 색상 */
}

.language-btn {
  font-weight: bold;
  background-color: #5a5a5a;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
}

.language-btn:hover,
.language-btn:focus {
  background-color: #4a4a4a;
}
