button {
    background-color: yellow;
    border: 2px solid orange;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: orange;
    color: white;
  }
  