.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .card-header {
    background-color: #333;
    color: white;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  