* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nerko One', sans-serif;
    background-color: #263343;
    color: #f0f4f5;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #f0f4f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 10px 15px;
}

.navbar__logo {
    font-size: 24px;
    color: #f0f4f5;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 10px 15px;
}

.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    display: flex;
    padding-left: 0;
    color: #f0f4f5;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

body {
    background-image: url('img/01_배경화면.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: white;
    position: relative;
    height: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup.show {
    display: flex;
}

.popup-message {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.character-popup {
    display: block;
    margin-top: 20px;
    width: 150px;
    height: auto;
}
